@model IEnumerable<OnlineExam.Models.Programmes>

@{
    ViewBag.Title = "ProgrammeList";
}

<h2>ProgrammeList</h2>

<p>
    @Html.ActionLink("Create New", "CreateProgramme")
</p>
@if (ViewBag.DeleteMessage != null)
{
    <div class="alert alert-success" role="alert">@ViewBag.DeleteMessage</div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "CreateProgramme", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteProgramme", new { id = item.Id })
            </td>
        </tr>
    }

</table>
